* {
	margin: 0;
	padding: 0;
	font-family: sofia;
}
.contact_icon {
	margin-left: 10px;
	margin-right: 10px; 
	width: 32px;
}
.modal-footer ref{
	position: absolute;
}
.women {
	position: absolute;
	width: 880px;
	height: 348px;
	left: 70px;
	top: 508px;
	border: 1px solid black;
}
.women-text {
	position: absolute;
	width: 158px;
	height: 47px;
	left: 70px;
	top: 508px;

	font-family: Sofia;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 47px;

	color: #000000;
}
.message {
	font-size:3vw;
	text-align: center;
	margin-top: 20px;
	font-family: sofia;
}
.for-women {
	font-size: 3vw;
	margin-top: 10px; 
	font-family: Sofia;
}
.body2 {
	padding-left: 30px;
	padding-right: 30px;
}
.body2 img {
	border-radius: 10px;
}
hr.solid {
  border-top: 2px solid black;
}
.price {
	font-family: Calibri;
	color: #F2994A;
	font-size: 3vw;
}
h5 {
	font-size: 1vh;
	text-align: center;
}
