<template>
<div>
    <b-row>
      <b-col><Sidebar isActive="book"/></b-col>
    </b-row>
    <div class="lamesa">
          <h4 class="text">Book Management</h4>
            <b-row>
              <b-col><b-button v-b-modal.modal-center variant="primary" class="btn">Add Book</b-button></b-col>
              <b-col><b-form-input size="md" class="mr-sm-3" placeholder="Search"></b-form-input></b-col>
            </b-row>
          <div class="table1">
              <table class="table">
                  <tr class="headTable">
                      <th width="250" class="header">Name</th>
                      <th width="250" class="header">Author</th>
                      <th width="150" class="header">Category</th>
                      <th width="150" class="header">Copy</th>
                      <th class="action header">Action</th>
                  </tr>
                  <tr>
                      <td style="border-right: none">Harry Cutter</td>
                      <td style="border-right: none">Harry Roque</td>
                      <td style="border-right: none">Thriller</td>
                      <td style="border-right: none">669</td>
                      <td style="border-right: none">
                        <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                        <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                          <div>
                            <b-modal id="modal-delete" centered hide-header hide-footer>
                              <h5>Confirm Delete?</h5>  
                                <div class="delete"><button class="btn">Cancel</button>
                                  <button type="button" class="btn btn-danger">Delete</button>
                                </div>
                            </b-modal>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td style="border-right: none">Harry Cutter</td>
                      <td style="border-right: none">Harry Roque</td>
                      <td style="border-right: none">Thriller</td>
                      <td style="border-right: none">669</td>
                      <td style="border-right: none">
                        <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                        <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                      </td>
                  </tr>
                  <tr>
                      <td style="border-right: none">Harry Cutter</td>
                      <td style="border-right: none">Harry Roque</td>
                      <td style="border-right: none">Thriller</td>
                      <td style="border-right: none">669</td>
                      <td style="border-right: none">
                        <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                        <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                      </td>
                  </tr>
                  <tr>
                      <td style="border-right: none">Harry Cutter</td>
                      <td style="border-right: none">Harry Roque</td>
                      <td style="border-right: none">Thriller</td>
                      <td style="border-right: none">669</td>
                      <td style="border-right: none">
                        <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                        <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                      </td>
                  </tr>
                  <tr>
                      <td style="border-right: none">Harry Cutter</td>
                      <td style="border-right: none">Harry Roque</td>
                      <td style="border-right: none">Thriller</td>
                      <td style="border-right: none">669</td>
                      <td style="border-right: none">
                        <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                        <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                      </td>
                  </tr>
                  <tr>
                      <td style="border-right: none">Harry Cutter</td>
                      <td style="border-right: none">Harry Roque</td>
                      <td style="border-right: none">Thriller</td>
                      <td style="border-right: none">669</td>
                      <td style="border-right: none">
                        <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                        <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                      </td>
                  </tr>
                  <tr>
                      <td style="border-right: none">Harry Cutter</td>
                      <td style="border-right: none">Harry Roque</td>
                      <td style="border-right: none">Thriller</td>
                      <td style="border-right: none">669</td>
                      <td style="border-right: none">
                        <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                        <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                      </td>
                  </tr>
              </table>
          </div>
        <div>
          <b-modal id="modal-center" centered hide-header hide-footer>
            <img src="https://i.ibb.co/x1JYKvy/logo-add-Patron.png" class="logo_addPatron">
              <div class="textbox"><input type="text" placeholder="Title" required></div>
                <div class="textbox"><input type="text" placeholder="Author" required></div>
                  <div class="textbox"><input type="number" placeholder="Copy" required></div>
                    <select id="category" class="textbox textbox_select" style="margin-top: 30px;" required>
                      <option hidden class="cat">Category</option>
                        <option>Fantasy</option>
                          <option>Adventure</option>
                            <option>Romance</option>
                              <option>Contemporary</option>
                            <option>Horror</option>
                          <option>Thriller</option>
                      <option>Mystery</option>
                    </select>
                  <div class="textbox divider"></div>
              <div class="button_footer"><button type="button" class="add_button">Add</button>
            <button type="button" class="cancel_button" data-dismiss="modal">Cancel</button></div>
          </b-modal>
        </div>
    </div>
</div>
</template>

<script>
import Sidebar from './Sidebar.vue'

export default {
  name: 'App',
  components: {
    Sidebar
  }
}
</script>

<style>
 @import '../assets/style.css';
</style>