<template>
<div>
    <b-row>
      <b-col><Sidebar isActive="dashboard"/></b-col>
    </b-row>
  <div class="bar lamesa">
    <h4 class="text">Dashboard</h4>
      <b-container>
        <b-row class="justify-content-center">
          <b-col class="chart"><h4 class="title">BOOKS</h4><bar-chart></bar-chart></b-col>
          <b-col class="pie chart"><h4 class="title">BOOK CATEGORY</h4><pie-chart></pie-chart></b-col>
        </b-row>
      </b-container>
  </div>
</div>
</template>

<script>
import Sidebar from './Sidebar.vue'
import BarChart from '@/components/chart/barChart'
import PieChart from '@/components/chart/pieChart'

export default {
  name: 'App',
  components: {
    Sidebar,
    BarChart,
    PieChart
  },
   legendSettings: {
    position: 'Right'
  },
}
</script>

<style>
 @import '../assets/style.css';
</style>