<template>
  <div>
    <b-navbar class="navi">
    <b-navbar-brand>
      <img src="https://i.ibb.co/x1JYKvy/logo-add-Patron.png" alt="logo">
    </b-navbar-brand>
    <button class="ml-auto">Logout</button>
  </b-navbar>
  </div>
</template>

<script>
export default {
  name: 'Navbar'
}
</script>

<style>
@import '../assets/style.css';
</style>
