<template>
<div>
    <b-row>
      <b-col><Sidebar isActive="patron"/></b-col>
    </b-row>
    <div class="lamesa">
          <h4 class="text">Patron Management</h4>
            <b-row>
              <b-col><b-button v-b-modal.modal-center variant="primary" class="btn">Add Patron</b-button></b-col>
              <b-col><b-form-input size="md" class="mr-sm-3" placeholder="Search"></b-form-input></b-col>
            </b-row>
            <div class="table1">
          <table class="table">
              <tr class="headTable">
                  <th width="300" class="header">Name</th>
                  <th width="300" class="header">Email</th>
                  <th width="200" class="header">Contact</th>
                  <th class="action header">Action</th>
              </tr>
              <tr>
                  <td style="border-right: none">Rainiel Saclay</td>
                  <td style="border-right: none">gwapo@gmail.com</td>
                  <td style="border-right: none">09123456789</td>
                  <td style="border-right: none">
                    <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                    <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                      <div>
                        <b-modal id="modal-delete" centered hide-header hide-footer>
                          <h5>Confirm Delete?</h5>  
                            <div class="delete"><button class="btn">Cancel</button>
                              <button type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </b-modal>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td style="border-right: none">Rainiel Saclay</td>
                  <td style="border-right: none">gwapo@gmail.com</td>
                  <td style="border-right: none">09123456789</td>
                  <td style="border-right: none">
                    <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                    <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                  </td>
              </tr>
              <tr>
                  <td style="border-right: none">Rainiel Saclay</td>
                  <td style="border-right: none">gwapo@gmail.com</td>
                  <td style="border-right: none">09123456789</td>
                  <td style="border-right: none">
                    <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                    <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                  </td>
              </tr>
              <tr>
                  <td style="border-right: none">Rainiel Saclay</td>
                  <td style="border-right: none">gwapo@gmail.com</td>
                  <td style="border-right: none">09123456789</td>
                  <td style="border-right: none">
                    <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                    <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                  </td>
              </tr>
              <tr>
                  <td style="border-right: none">Rainiel Saclay</td>
                  <td style="border-right: none">gwapo@gmail.com</td>
                  <td style="border-right: none">09123456789</td>
                  <td style="border-right: none">
                    <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                    <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                  </td>
              </tr>
              <tr>
                  <td style="border-right: none">Rainiel Saclay</td>
                  <td style="border-right: none">gwapo@gmail.com</td>
                  <td style="border-right: none">09123456789</td>
                  <td style="border-right: none">
                    <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                    <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                  </td>
              </tr>
              <tr>
                  <td style="border-right: none">Rainiel Saclay</td>
                  <td style="border-right: none">gwapo@gmail.com</td>
                  <td style="border-right: none">09123456789</td>
                  <td style="border-right: none">
                    <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                    <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                  </td>
              </tr>
              <tr>
                  <td style="border-right: none">Rainiel Saclay</td>
                  <td style="border-right: none">gwapo@gmail.com</td>
                  <td style="border-right: none">09123456789</td>
                  <td style="border-right: none">
                    <button class="btn btn-sm"><img class="imgBtn" src="https://i.ibb.co/JkYgh2Z/edit.png"></button>
                    <button class="btn btn-sm" v-b-modal.modal-delete><img class="imgBtn" src="https://i.ibb.co/Hn2Tytw/delete.png"></button>
                  </td>
              </tr>
          </table>
          </div>
        <div>
          <b-modal id="modal-center" centered hide-header hide-footer>
            <img src="https://i.ibb.co/x1JYKvy/logo-add-Patron.png" class="logo_addPatron">
              <div class="textbox"><input type="text" name="fname" placeholder="First Name"></div>
                <div class="textbox"><input type="text" name="lname" placeholder="Last Name"></div>
                  <div class="textbox"><input type="number" name="number" placeholder="Contact Number"></div>
                <div class="textbox"><input type="email" name="email" placeholder="Email (Optional)"></div>
              <div class="button_footer"><button type="button" class="add_button">Add</button>
            <button type="button" class="cancel_button" data-dismiss="modal">Cancel</button></div>
          </b-modal>
        </div>
    </div>
</div>
</template>

<script>
import Sidebar from './Sidebar.vue'

export default {
  name: 'App',
  components: {
    Sidebar
  }
}
</script>

<style>
 @import '../assets/style.css';
</style>