<template>
    <div>
    <b-row>
      <b-col><Sidebar isActive="settings"/></b-col>
    </b-row>
    <div class="lamesa">
    <h4 class="text">Settings</h4>
    </div>
    </div>
    
</template>

<script>
import Sidebar from './Sidebar.vue'

export default {
  name: 'App',
  components: {
    Sidebar
  }
}
</script>

<style>
@import '../assets/style.css';
</style>