<template>
<div>
<Navbar/>
  <div id="vue" class="sidenavi">
    <router-link to="/"><button class="button" :class = "isActive == 'dashboard' ? 'active' : ' ' "><img class="sideLogo" src="https://i.ibb.co/FsZz9xH/dashboard-logo.png"><a class="text-white">Dashboard</a></button></router-link>
      <router-link to="/patron"><button class="button" :class = "isActive == 'patron' ? 'active' : ' ' "><img class="sideLogo" src="https://i.ibb.co/NjxWQts/patron-logo.png"><a class="text-white">Patron Management</a></button></router-link>
      <router-link to="/book"><button class="button" :class = "isActive == 'book' ? 'active' : ' ' "><img class="sideLogo" src="https://i.ibb.co/xC0nFDP/book-logo.png"><a class="text-white">Book Management</a></button></router-link>
    <router-link to="/settings"><button class="button" :class = "isActive == 'settings' ? 'active' : ' ' "><img class="sideLogo" src="https://i.ibb.co/17gWw67/settings.png"><a class="text-white">Settings</a></button></router-link>
  </div>
</div>
</template>

<script>
import Navbar from './Navbar.vue'
export default {
  props: ["isActive"],
  components: {
    Navbar
  },
  name: 'Sidebar'
}
</script>

<style>
 @import '../assets/style.css';
</style>