* {
  margin: 0;
  padding: 0;
  font-family: "Antic", sans-serif;
}

.navbar {
  background-color: #259EE2;
  height: 50px; 
}

.button_logout {

  background-color: #259EE2; 
  color: white; 
  border: 1px solid white;
  height: 30px;
  width: 80px;
  margin-right: 20px;
  font-size: 16px; 
  margin-bottom: 20px;
}

.body {
  border: 1px solid lightgray;
  max-width: 1600px;
  min-height: 601px;
  
}

.side_logo {
  margin-right: 20px;
  text-align: left;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 254px;
  position: fixed;
  height: 550px;
  overflow: auto;
  background-color: #15445F;

}
.sidebar button {
  display: block;
  background-color: #15445F;
  color: white;
  padding-left: 20px;
  min-width: 254px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  height: 50px;
  background-color: #15445F

}
 
.sidebar button.active {
  background: rgba(241, 226, 226, 0.4);
  outline: none;
}

.sidebar button:hover {
  background: rgba(241, 226, 226, 0.1);
  color: white;
  outline: none;
}

div.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: auto;
}

.text {
  margin-top: 50px;
  padding: 1px 16px;
  color: #828282;
  height: 30px;
}

.header {
  background-color: #0D408C;
  color: white;
  font-weight: normal;
  border: 0;
  height: 30px;
}

.addPatron {
 margin-left: 22px;
 margin-bottom: 5px; 
}

.patron {
  border: 0;
  outline: 0;
}

.cancel_button {
  opacity: 50%;
  width: 100px;
  background-color: #1F3FB4;
  outline: none;
  border: none;
  height: 35px;
  color: white;
}

.add_button {
  width: 100px;
  background-color: #1F3FB4;
  outline: none;
  border: none;
  height: 35px;
  color: white;
}

.data {
  background-color: white;
}

.edit {
}

.textbox {
  width: 70%;
  overflow: hidden;
  font-size: 18px;
  border-bottom: 1px solid gray;
  padding: 10px;
  margin: auto;

}

.textbox input {
  width: 100%;
  float: left;
  margin-left: -7px;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
}

.logo_addPatron {
  margin: auto;
  margin-top: 20px;
  height: 50px;
  width: 150px;
}

.button_footer {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.modal-dialog {
  width: 400px !important;

}
.textbox_select {
  border: none;
  margin-bottom: -18px;
  outline: none;
}

.cat {
  opacity: 70%;
}

.del {
  border: none;
  background-color: blue;
}

.confirmation {
  margin-right: -50px;
}

.mods {
  height: 400px !important;
}

.search {
  background-color: #F2F2F2;
  max-width: 350px;
  border: none;
  border-radius: 5px;
  height: 37px;
  float: right;
  margin-right: 21px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar button {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar button {
    text-align: center;
    float: none;
  }
}