@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
* {
  font-family: "Antic", sans-serif;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.content {
  top: 0;
  bottom:0;
  position:fixed;
  overflow-x:hidden;
}

.sidenavi {
  width: 280px;
  overflow-x: hidden;
  margin-top: 70px;
  position: fixed;
  height: 100%;
  background-color: #15445F;
  z-index: 999;
}

.text-white {
  font-size: 20px;
}

ul.navside {
  list-style-type: none;
}
.button {
    background-color: transparent;
    border: none;
    padding: 15px;
    margin-left: -16px;
    padding-left: -10px;
    padding-right: 0;
    margin-top: 10px;
    cursor: pointer;
    text-align: left;
    width: 300px;
}

.button:focus {
  outline: 0;
}

button.active {
  background: rgba(241, 226, 226, 0.4);
  outline: none;
}

.button:hover{
  background: rgba(241, 226, 226, 0.1);
  color: white;
}

a:hover {
  text-decoration: none;
  outline: none;
}

a.active {
  outline: none;
  border: 0;
}

.sideLogo {
  margin-right: 10px;
  margin-left: 20px;
}

/*dashboard*/ 

.bar  {
  margin-left: 300px;
  margin-top: 30vh;
}

.chart {
  border: 1px solid lightgray;
  margin-right: 10px;
  margin-top: 10px;
  max-width: 400px;
  max-height: 400px;
}

.title {
  text-align: center;
  margin: auto;
}

/*navbar*/

.navi {
  background-color: #259EE2;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.ml-auto {
  border: 1px solid white;
  background: transparent;
  height: 40px;
  width: 80px;
  color: white;
}

/*Patron*/

.lamesa {
  margin-left: 28vw;
  margin-top: 100px;
  max-width: 1000px;
  margin-right: 20px;
}

.table {
  border: 1px solid lightgray;
}

.headTable {
  background-color: #0D408C;
  color: white;
}

.header {
  border-left: 1px solid #2D9CDB;
}

.text {
  margin-bottom: 7vh;
  opacity: 50%;
}

.btn {
  margin-bottom: 10px;
}

.searchBox {
  height: 50px;
}

/*MODAL*/

.textbox {
  width: 70%;
  overflow: hidden;
  font-size: 18px;
  border-bottom: 1px solid gray;
  padding: 10px;
  margin: auto;
  margin-top: 30px;

}

.textbox input {
  width: 100%;
  float: left;
  margin-left: -7px;
  border: none;
  outline: none;
  background: none;
}

.textbox_select {
  border: none;
  margin-bottom: -25px;
  margin-left: 45px;
  outline: none;
  opacity: 70%;
  background-color: transparent;
}

.divider {
  margin-top: -10px;
}

.logo_addPatron {
  margin-top: 20px;
  margin-left: 120px;
}

.modal-dialog {
  width: 400px !important;

}

.button_footer {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.add_button {
  width: 100px;
  background-color: #1F3FB4;
  outline: none;
  border: none;
  height: 35px;
  color: white;
  margin-right: 80px;
  margin-left: 45px;
}

.cancel_button {
  opacity: 50%;
  width: 100px;
  background-color: #1F3FB4;
  outline: none;
  border: none;
  height: 35px;
  color: white;
}

.delete {
  float: right;
}

.imgBtn {
  height: 20px;
}

@media (max-width: 800px) {
    .sidenavi {
      width: 70px;
      overflow-x: hidden;
      margin-top: 65px;
    }

    .content {
      top: 0;
      bottom:0;
      position:fixed;
      overflow-x:hidden;
      
    }

    .text-white {
      display: none;
    }
    
    .side {
      height: 68.2px;
      margin-top: -3px;
    }
    /*dashboard*/ 
    .bar {
      margin-left: 80px;
      margin-top: none;
    }
    .pie {
      margin-bottom: 20px;
    }
    .chart {
      max-width: 500px;
      max-height: auto;
      margin-left: 10px;
    }
    /*navbar*/
    .ml-auto {
      width: 65px;
      height: 30px;
    } 
    .navi {
      height: 65px;

    }
    /*Patron*/
    .lamesa {
      margin-left: 100px;
      margin-top: 150px;
    }
    .text {
      margin-bottom: 50px;
      margin-left: -1vw;
      margin-top: -60px;
  }
    .table {
      overflow-x: auto;
      width: 700px;
    }
    .table1 {
      overflow-x: auto;
      max-width: auto;
    }
    .action {
      width: 150px;
    }
}